<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<h1>Welcome to Your Dashboard!</h1>
<p>Use the menu below to navigate through the application:</p>

<div class="actions">

    <button onclick="window.location.href='home.html'">Home</button>
    <button onclick="window.location.href='http://localhost:8080/login'">Login</button>
</div>

<nav>
    <div class="navbar">
        <div class="navbar-logo">Webscrapper</div>
        <ul>
            <li><a th:href="@{/templates/register.html}">Sign Up</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/StartScraping.html}">Start Scraping</a></li>
            <li><a th:href="@{/scraping_results.html}">scraping results</a></li>
        </ul>
    </div>
</nav>


</body>
</html>