<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<h1>Welcome to the Web Scraper!</h1>
<p>This tool lets you scrape web pages and manage data efficiently.</p>
<nav>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="dashboard.html">Dashboard</a>
            <a href="login.html">login</a>
        </div>
    </div>
</nav>


<script src="/js/script.js"></script>

</body>
</html>